body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}

header {
    align-self: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 0.5rem;
}

main {
    align-self: center;
}

.hidden {
    display: none;
}

footer {
    margin-top: auto;
    text-align: center;
    align-self: center;
    border-top: 1px solid #ccc;
    width: 100%;
}