* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Roboto", serif;
    font-weight: 400;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: minmax(150px, 0.35fr) 1fr;
    grid-template-columns: minmax(200px, 0.5fr) repeat( 2, minmax(150px, 1fr)) 0.5fr;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    background-color: #0ea5e9;
    color: white;
    grid-row: 1/4;
    padding: 10px;
    display: grid;
    grid-template-rows: 0.2fr 0.6fr 1fr;
    font-family: "Roboto", serif;
    font-weight: 500;
    box-sizing: border-box;
}

.nav-items img{
    width: 20px;
    height: 20px;
    padding-right: 15px;
    vertical-align: middle;
    filter: invert(1);
}

.header {
    grid-row: 1/2;
    grid-column: 2/5;
    box-shadow: 1px 1px rgb(105, 105, 105);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.search {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}

#search-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 10px;
    vertical-align: middle;
}

#search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

#search-input {
    width: 250px;
    max-width: 100%;
    min-width: 0;
    flex: 1;
    border-radius: 10px;
    background-color: rgb(215, 215, 215);
    border: none;
    padding: 3px;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
}

@media (max-width: 400px) {
    #search-input {
        max-width: 50px;
    }
}

@media (max-width: 600px) {
    #search-input {
        max-width: 100px;
    }
}

@media (max-width: 750px) {
    #search-input {
        max-width: 150px;
    }
}

@media (min-width: 900px) {
    #search-input {
        max-width: 400px; 
    }
}

@media (min-width: 1200px) {
    #search-input {
        max-width: 500px;
    }
}

/* Tablets and small laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    #search-input {
        max-width: 300px;
    }
}

/* Larger laptops and desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
    #search-input {
        max-width: 400px;
    }
}

.user-account {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 0; 
    gap: 0.5em;
}

.user-account > * {
    justify-self: start;
}

.greet-user {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
    align-self: center;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}


.greet-user span {
    font-size: 1.5em;
}

.buttons {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.main-content {
    grid-row: 2/3;
    grid-column: 2/6;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    grid-template-columns: 1fr 1fr 0.6fr;
    gap: 0px;
    background-color: rgb(227, 232, 239);
    box-sizing: border-box;

}

.projects {
    grid-row: 1/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 40px 15px 40px 15px;
    box-sizing: border-box;
}

.projects-header {
    position: absolute;
    padding-top: 10px;
    padding-left: 16px;
    font-weight: 400;
}

.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: grid;
    border-left: 5px solid rgb(255, 183, 2);
    background-color: white;
}

.card h5 {
    padding-top: 15px;
}

.card h5, p {
    padding-left: 15px;
}

.card p {
    color: grey;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10px;
}

.projects p{
    font-size: 0.7em;
}

.icon-btn {
    background-color: transparent;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
}

.logo {
    padding-left: 4px;
    display: flex;
    align-items: center
}


.logo img {
    width: 40px;
    height: 40px;
    padding-left: -50px;
    filter: invert(1);
}

.logo p {
    font-size: 1.3em;
    padding-left: 5px;
}

.announcements-container {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    grid-template-rows: 0.2fr 1fr;
    box-sizing: border-box;
}

.announcements-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    max-width: 80%;
    margin-top: 20px;
}

.announcements-container > h2 {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 11px;
}

.announcements {
    grid-row: 2/3;
    background-color: white;
    box-sizing: border-box;
}

.announce-card{
    font-size: 12px;
    background-color: white;
    padding-bottom: 13px;
    box-sizing: border-box;
    position: relative;
}

.announce-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 7%;
    right: 7%;
    height: 1px;
    background-color: #ccc;
}

.announce-card:last-child::after {
    content: none;
}

.announce-card > h5 {
    font-size: 1em;
    padding-top: 10px;
    padding-left: 10px;
}

.announce-card > p {
    font-size: 0.8em;
    padding-left: 11px;
    color: grey;
}


.announce-card:last-child p:last-child{
    padding-bottom: 5px;
}

.trending-container {
    grid-row: 2/3;
    grid-column: 3/4;
}

.trending {
    border-radius: 5px;
    background-color: white;
}

.trending-card {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 12px;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: white;
}

.trending-container > h2 {
    font-size: 16px;
    font-weight: normal;
    bottom: 5px;
}

.trending-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    max-width: 85%;
}

.trending-container h2 {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 5;
}

.trending-card p span {
    color: grey;
    font-size: 0.9em;
}

#list1 {
    grid-row: 2/3;
    padding-left: 10px;
}

#list2 {
    grid-row: 3/4;
    padding-left: 10px;
}

#list1 *{
    list-style: none;
    text-decoration: none;
    color: white;
}

#list2 *{
    list-style: none;
    text-decoration: none;
    color: white;
}

#list1 li {
    padding-top: 10px;

}

#list2 li {
    padding-top: 10px;
    
}

.sidebar-items ul::before{
    /* for icons */
}

#ring-bell {
    all: unset;
    font-size: 18px;
}

.avatar-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-action {
    background: #0ea5e9;
    color: white;
    border-radius: 25px;
    border: none;
    width: 75px;
    height: 30px;
    font-family: "Roboto", serif;
    font-weight: 500;
}

.u-action > * {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 500;
    text-decoration: none;
}

h4 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 1.5em;
}

.user-account p{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 1em;
    vertical-align: inline;
}

.greet-user p {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 0.85em;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}