body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    border: 2px black solid;
}
.cell {
    border: 2px rgb(1, 215, 105) solid;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2);
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(./fonts/Roboto-Medium.woff2);
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url(./fonts/Roboto-Italic.woff2);
}
@font-face {
    font-family: 'Roboto';
    font-style: bold;
    src: url(./fonts/Roboto-Bold.woff2);
}