.container {
    display: grid;
    justify-items: center;
    margin-top: 10px;
    grid-template-rows: 100px 100px 100px;


}

.header {
    background-color: blue;
}
.sidebar {
    background-color: red;;
}
.content {
    background-color: green;
}