body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(85, 208, 112);
    height: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding: 0 20px;
    height: 100%;
}

nav div button {
    all: unset;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.738);
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
    font-weight: 500;
    color: rgb(116, 112, 112);
}

#logoDiv {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

#buttons {
    display: flex;
    gap: 35px;
    justify-self: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #e7e7e7;
}

.projectDiv {
    display: flex;
    align-items: center;
    height: 125px;
    width: 250px;
    /* margin: 0 auto; */
    margin: 50px auto;
    background-color: rgb(171, 228, 105);
    border-radius: 25px;
}

.projectDiv:hover {
    cursor: pointer;
    transform: scale(1.02);
    border-color: blueviolet;
    border: 5px solid hsla(155, 100%, 19%, 0.657);
}

.projectName {
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.addBtn {
    all: unset;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.738);
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    height: 8vh;
    background-color: #eee;
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Thin.ttf);
    font-weight: 100;
}